<html>
    <head>
        <title>Done</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <script src="{{STATIC_URL}}js/jquery-2.0.3.js" ></script> 
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="{{STATIC_URL}}js/bootstrap.js"></script>

        <!-- Upvote-->
        <script src="{{STATIC_URL}}js/jquery-2.0.2.min.js"></script>
        <script src="{{STATIC_URL}}css/jquery.upvote.js" ></script>
        <script src="{{STATIC_URL}}js/scrollfix.js" type="text/javascript"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}tests/qunit-1.11.0.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.upvote.css">
            <style type="text/css">
              .hidden {
                  display: none;
              }
              div.upvote {
                  float: left;
              }
            </style>

        
    </head>
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Tagging Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/login/">User Login</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/register/">User Signup</a></li>
                        <li><a href="/passage/">Assign Passages</a></li>
                        <li><a href="/new/">Add New Entry</a></li>
                        <li><a href="/output/">Output data</a></li>
                    </ul>
                </li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

            <p style="margin-left:20%">Your survey is complete and all data are saved. You may end your work by leaving the page here, or you can <a href="/entry/">go back to the start of the passages to view and edit your responses. </a></p>

    </body>
</html>