<html>
    <head>
        <title>Research</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <script src="{{STATIC_URL}}js/jquery-2.0.3.js" ></script> 
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="{{STATIC_URL}}js/bootstrap.js"></script>

        <!-- Upvote-->
        <script src="{{STATIC_URL}}js/jquery-2.0.2.min.js"></script>
        <script src="{{STATIC_URL}}css/jquery.upvote.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/tagging.js"></script>
        <script src="{{STATIC_URL}}js/scrollfix.js" type="text/javascript"></script>
        <script>
          function preventBack(){window.history.forward();}
          setTimeout("preventBack()", 0);
          window.onunload=function(){null};
        </script>
        <link rel="stylesheet" href="{{STATIC_URL}}tests/qunit-1.11.0.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.upvote.css">
            <style type="text/css">
              .hidden {
                  display: none;
              }
              div.upvote {
                  float: left;
              }
            </style>

        
    </head>
    
    <body onunload="unloadP('UniquePageNameHereScroll')" onload="loadP('UniquePageNameHereScroll')">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Tagging Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
               <li class="active"><a href="/entry/">Test in progress</a></li>
               <li> <a href="/login/" id="exit">Exit test</a></li>
              </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
       
        <div class="container" style="width:70%; float:left;">
        	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">PASSAGE #{{data.pass_num}}:</h3>
			  </div>
			  <div class="panel-body">
			    {{data.entry}}
			  </div>
			</div>
        </div>

        <div class="container" style="width:30%; float:right" id="tags">
            <ul class="pager">
                <li><a href="/prev/">Previous Passage</a></li>
                <li><a href="/next/">Next Passage</a></li>
            </ul>

            <h5>Click the plus button of any tag to increment that tag by 1,
                or the minus button to cancel the increment you made. </h5>
            <h4>Existing Tags: </h4>

            <div id="votes">
                <script type="text/javascript" src="{{STATIC_URL}}js/tagging.js"></script>
                {% for ts in data.tag_specifics %}
                    {% if ts.upvoted %}
                        <button id="ts{{forloop.counter}}" type="button" class="decrement" href="/decrement/"
                                value='{{ts.tsid}}' method="POST" style="width:22px;height:22px;"> - </button>
                    {% else %}
                        <button id="ts{{forloop.counter}}" type="button" class="increment" href="/increment/"
                                value='{{ts.tsid}}' method="POST" style="width:22px;height:22px;"> + </button>
                    {% endif %}
                    <label style="font-size:18px" for="ts{{forloop.counter}}">
                        {{ ts.tag.tag }} ({{ ts.tag.num_votes }})</label><br />

                    {% empty %} <p> No tags </p>
                {% endfor%}
            </div>
            <br>
            <div id="add">
                <strong>Add tag here!</strong><br />
                <form id="add_tag_form" method="post" action="/add/{{es_id}}"
                        enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ add_tag_form.as_table }}

                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" name="submit" value="Add New Tag" />
                </form>
            </div>
            <script type="text/javascript" src="{{STATIC_URL}}js/tagging.js"></script>
        </div>
    </body>
</html>