<html>
    <head>
        <title>Signup </title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <script src="{{STATIC_URL}}js/jquery-2.0.3.js" ></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 

        
    </head>
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Tagging Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/new/">Add New Entry</a></li>
                <li><a href="/login/">User Login</a></li>
                <li class="active"><a href="/register/">User Signup</a></li>
              </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

       
        <div class="container" style="width:50%;">
        <h1>Participant Registration</h1>

        {% if registered %}
        <strong>Thank you for Signing up!</strong>
        <a href="/login/">Begin Survey by logging in</a><br />

        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. {{ profile_form.as_p }}-->
            {{ user_form.as_p }}

            <!--
            {% for entry in entries %}
                <input type="checkbox" name="entry" id="entry{{ forloop.counter }}" value="{{ entry.eid }}"/>
                <label for="entry{{ forloop.counter }}">{{ entry }}</label><br />
            {% endfor %}
            -->

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>

        {% endif %}


        </div>
        
        <script type="text/javascript" src="{{STATIC_URL}}js/signup.js"></script>
    </body>
</html>